@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

body{
  background-color: #F3F3F3;
  min-height: 100%;
}


/* --------------------------------------------Start: Sidebar Desktop View---------------------------------------------*/
.sidebar.collapsed:hover,
.sidebar {
  width: 18rem;
  overflow-y: auto;
  transition: width .2s, left .2s;
  left: 0;
  z-index: 500;
  transition: background-color 0.5s ease;
}

.sidebar.collapsed {
  left: -18rem;
}

.sidebar-toggle {
  cursor: pointer;
  transition: .2s;
}
.sidebar-menu {
  list-style-type: none;
}
.sidebar-menu-item {
  margin-bottom: .90rem;
}
.sidebar-menu-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--bs-dark);
  padding: .375rem .75rem;
  border-radius: .375rem;
  font-size: 1.10rem;
  white-space: nowrap;
}
.sidebar-menu-item > a {
  overflow: hidden;
}
.sidebar-menu-item.focused > a,
.sidebar-menu-item > a:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}
.sidebar-menu-item.active a {
  background-color: #FCF4B9;
  height: 2.7rem;
  color: #2B2B2B;
  box-shadow: 0 5px #2B2B2B;
}
.sidebar-menu-item-icon {
  margin-right: .625rem;
  font-size: 1rem;
}
.sidebar-menu-item-accordion {
  transition: transform .2s;
}
.sidebar-dropdown-menu-item.focused > a .sidebar-menu-item-accordion,
.sidebar-menu-item.focused > a .sidebar-menu-item-accordion {
  transform: rotateZ(180deg);
}
.sidebar.collapsed:hover .sidebar-menu-divider,
.sidebar-menu-divider {
  font-size: .75rem;
  color: var(--bs-gray-600);
  transition: opacity .2s;
  opacity: 1;
  visibility: visible;
  transition: background-color 0.5s ease;
}
.sidebar-dropdown-menu-item a {
  padding: .375rem 0;
  padding-right: .75rem;
}
.sidebar-dropdown-menu-item.focused > a,
.sidebar-dropdown-menu-item a:hover {
  color: var(--bs-indigo);
  transition: background-color 0.5s ease;
}
.sidebar-dropdown-menu {
  padding-left: 2rem;
}
/* --------------------------------------------End: Sidebar Desktop View---------------------------------------------*/



/* --------------------------------------------Start: Sidebar Mobile View---------------------------------------------*/
.sidebar2 {
  width: 13rem;
  overflow-y: auto;
  transition: width .2s, left .2s;
  left: 0;
  z-index: 500;
}
.sidebar-menu-item2 {
  margin-bottom: .90rem;
}
.sidebar-menu-item2 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--bs-dark);
  padding: .375rem .75rem;
  border-radius: .375rem;
  font-size: 1rem;
  white-space: nowrap;
}
.sidebar-menu-item2 > a {
  overflow: hidden;
}
.sidebar-menu-item2.focused > a,
.sidebar-menu-item2 > a:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}
.sidebar-menu-item2.active a {
  background-color: #FCF4B9;
  height: 2.5rem;
  color: #2B2B2B;
  box-shadow: 0 5px #2B2B2B;
}
.sidebar-menu-item-icon2 {
  margin-right: .625rem;
  font-size: 1rem;
}
.sidebar-menu-item-accordion {
  transition: transform .2s;
}

.sidebar.collapsed:hover .sidebar-menu-divider,
.sidebar-menu-divider {
  font-size: .75rem;
  color: var(--bs-gray-600);
  transition: opacity .2s;
  opacity: 1;
  visibility: visible;
}

.sidebar-dropdown-menu-item2.focused > a,
.sidebar-dropdown-menu-item2 a:hover {
  color: var(--bs-indigo);
  transition: background-color 0.5s ease;
}

@media (min-width: 768px) { 
  .sidebar.collapsed {
      width: 4.75rem;
      left: 0;
  }
  .sidebar.collapsed .sidebar-logo {
      display: none;
  }
  .sidebar.collapsed:hover .sidebar-logo {
      display: block;
      transition: background-color 0.5s ease;
  }
  .sidebar.collapsed:hover .sidebar-toggle {
      margin-left: auto;
      margin-right: 0;
      transition: background-color 0.5s ease;
  }
  .sidebar.collapsed .sidebar-toggle {
      margin: 0 auto;
      transform: rotateZ(180deg);
  }
  .sidebar.collapsed:hover .sidebar-menu-divider {
      font-size: .75rem;
      color: var(--bs-gray-600);
      transition: opacity .2s;
      opacity: 1;
      visibility: visible;
      transition: background-color 0.5s ease;
  }
  .sidebar.collapsed .sidebar-menu-divider {
      opacity: 0;
      visibility: hidden;
  }
}
/* --------------------------------------------End: Sidebar Mobile View---------------------------------------------*/



/* --------------------------------------------Start: Toggle and Off-Canvas ---------------------------------------------*/
@media (min-width: 768px) {
  .btn-toggle {
      display: none;
  }
  .offcanvass {
      transform: none !important;
      visibility: visible !important;
  }
}

@media (max-width: 767px) {
  .btn-toggle {
      display: block;
  }
  .offcanvass {
      visibility: hidden;
  }
}
/* --------------------------------------------End: Toggle and Off-Canvas ---------------------------------------------*/




/* --------------------------------------------Start: Navbar Desktop View---------------------------------------------*/
nav {
  display: flex;
  align-items: center;
  border: 2px solid #2B2B2B;
  background-color:#FCF4B9; 
  box-shadow: 0 5px #2B2B2B;
}
.navbar-link {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .30rem;
}
.navbar-link:hover {
  color: grey;
  transition: background-color 0.5s ease;
}
/* --------------------------------------------End: Navbar Desktop View---------------------------------------------*/



/* --------------------------------------------Start: Main Desktop View---------------------------------------------*/
main {
  min-height: 100vh;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.Beemo-text{
  font-size: 1.4rem;
}

/* --------------------------------------------End: Main Desktop View---------------------------------------------*/




/* --------------------------------------------Start: Main Responsive View---------------------------------------------*/

@media (min-width: 768px) {
  main {
    transition: padding-left .2s;
    padding-left: 22rem;
    padding-top: 2rem;
    padding-right: 4rem;
      
  }
  .home-page{
    box-shadow: 0 6px #2B2B2B;
    background-image:linear-gradient(#F8F9FA 75%, #FCF4B9 25%)
  }

  .sidebar.collapsed ~ main {
    padding-left: 4.75rem;
}
}

@media (max-width: 767.98px) {
  .home-page {
      min-height: 74vh;
      padding: 10px;
      margin: 10px; 
      background-image:linear-gradient(#F8F9FA 75%, #FCF4B9 25%);
      box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
  }
  .Beemo-text {
    font-size: 1.2rem !important;
}
  nav{
    padding: 10px;
    margin: 10px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
  }
  
  .yellow {
      min-height: 5vh;   
      background-color: #FAEF9B;
      overflow-y:auto;
  }
}

@media (max-width: 1200px) {
  .Beemo-text {
      font-size: 1.2rem !important;
  }
}

/* --------------------------------------------End: Main Responsive View---------------------------------------------*/


